<%- include('./partials/head') %>

<% items.forEach(item => { %>

    <h1>Boeken</h1>
<p>
    <a href="./detail/<%= item.id %>"> <%=item.title %></a>
</p>

<img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding%>" alt="">

<p>
    <%= item.id %>
</p>

<% }) %>

<%- include('./partials/foot') %>